@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

@layer base {
  :root {
    --background: 208deg, 68%, 11%;
    --secondary-background: 209deg, 44%, 23%;
    --btn-background: 144deg, 73%, 39%;
    --btn-background-hover: 144deg, 73%, 28%;
    --foreground: 0deg, 0%, 95%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 208deg, 68%, 11%;
      --secondary-background: 209deg, 44%, 23%;
      --btn-background: 144deg, 73%, 39%;
      --btn-background-hover: 144deg, 73%, 28%;
      --foreground: 0deg, 0%, 95%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-title-xl {
    @apply text-4xl leading-none lg:text-[3.5rem] lg:font-extrabold font-poppins;
  }

  .radial-gradient {
    background: rgb(9, 29, 47);
    background: radial-gradient(
      circle,
      rgba(9, 29, 47, 0) 0%,
      rgba(9, 29, 47, 1) 90%
    );
    box-shadow: 23px -68px 47px -7px rgba(9, 29, 47, 1) inset;
    -webkit-box-shadow: 23px -68px 47px -7px rgba(9, 29, 47, 1) inset;
    -moz-box-shadow: 23px -68px 47px -7px rgba(9, 29, 47, 1) inset;
  }
}

@layer components {
  .sidebar {
    @apply h-full w-20 bg-sBackground py-2;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
